header {
	height: 100vh;
	width: 300px;
	background: $mainColor;
	position: fixed;
	display: grid;
	grid-template-rows: 1fr .2fr;
	transition: transform 300ms ease-in-out;
	.buttonNav {
		@include closeMenu;
		right: 20px;
		top: 10px;
		&:active {
			animation: pop 1s ease-in-out;
		}
	}
	.navBarLinks {
		display: grid;
		align-content: center;
		grid-gap: 15px;
		.link,
		.LoginMenu {
			padding: 5px 0 5px 5px;
			background: lighten($color: $mainColor, $amount: 15);
			color: white;
		}
		.link {
			&.active {
				background: $secondaryColor;
			}
			&:active {
				animation: pop .5s ease-in-out;
			}
		}
		.LoginMenu {
			div {
				cursor: pointer;
			}
			form {
				position: absolute;
				left: 0;
				margin-top: 15px;
				padding: 15px;
				border: lighten($color: $secondaryColor, $amount: 25%) 1px solid;
				border-radius: 5px;
				background: $mainColor;
				transition: 100ms ease-in-out;
				transition-timing-function: opacity transform;
				label {
					display: grid;
					input {
						background: transparent;
						border: none;
						padding: 3px 2px;
						color: white;
						border-bottom: lighten($color: $secondaryColor, $amount: 25%) 1px solid;
					}
				}
				.buttons {
					margin-top: 25px;
				}
				&.close {
					transform: translate(-100%, 0);
				}
			}
		}
	}
	.logoValpa {
		height: initial;
		transition: all 300ms ease-in-out;
	}
	&.open {
		transform: translate3d(-200px, 0, 0);
		.buttonNav {
			@include openMenu;
		}
		.logoValpa {
			padding: 0 25px;
			transform: translate3d(100px, 0, 0) scale(.35);
		}
	}

	@media screen and (max-width: 780px) {
		width: 300px;
		.navBarLinks {
			.LoginMenu form {
				right: 0;
			}
		}
	}
}

.menu__container {
	position: fixed;
	height: 100vh;
	width: fit-content;
	min-width: 500px;
	transition: min-width 300ms ease-in-out;

	// Delete this if you are not going to use both headers
	display: block;
	background: transparent;

	.buttonNav {
		@include closeMenu;
		left: 20px;
		&:active {
			animation: pop 1s ease-in-out;
		}
	}
	.menu {
		transition: transform 300ms ease-in-out;
		.faders {
			* {
				transition: all 300ms ease-in-out;
			}
			.active {
				.Check * {
					fill: rgb(31, 185, 31) !important;
					filter: url(#dropshadowHover);
				}
			}
			.Check:hover {
				filter: url(#dropshadowHover);
			}
		}
		.LoginMenu {
			div {
				cursor: pointer;
			}
			form {
				position: relative;
				left: 300px;
				top: 75px;
				label {
					input {
						margin: 50px 0;
					}
				}
				.buttons {
					position: relative;
					left: -300px;
					top: -190px;
					display: grid;
					grid-template-columns: 1fr;
					width: 50px;
					button {
						&:hover {
							transform: initial !important;
						}
					}
					&.logout {
						top: 0;
					}
				}
			}
		}
	}
	&.close {
		.buttonNav {
			@include openMenu;
		}
		.menu {
			transform: translate(-100%, 0);
		}
	}
	@media screen and (max-width: 780px) {
		min-width: 320px;
	}
}
