$headerSize: 100vh;
$footerSize: 100px;
$contentSize: 100vh;

// Propiedades de los elementos de la app

a {
}

button {
	cursor: pointer;
	border: none;
	padding: 10px 5px;
	border-radius: 5px;
	margin: 3px;
	background: lighten($color: $secondaryColor, $amount: 5%);
	transition: transform 300ms ease-in-out;
	color: white;
	&:hover {
		transform: scale(0.95);
	}
}

input {
	&.transparent {
		background: transparent;
		border: none;
		border-bottom: 1px solid $mainColor;
	}
}

.logoValpa {
	&.white {
		* {
			fill: white !important;
		}
	}
}

foreignObject {
	* {
		font-size: 4rem !important;
	}
}
