.Calendar {
	width: 100%;
	min-height: $contentSize;
	background-image: url('/imagenes/backgroundInicio.jpg');
	background-position: 0%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 15px;
	.day {
		background: $secondaryColor;
		transition: all 300ms ease-in-out;
		&.today {
			background: lighten($color: $secondaryColor, $amount: 50%);
		}
		&:hover {
			background: lighten($color: $secondaryColor, $amount: 15%);
		}
	}
}
