.Calendar {
	width: 100%;
	min-height: $contentSize;
	background-image: url('/imagenes/backgroundInicio.jpg');
	background-position: 0%;
	display: grid;
	justify-content: center;
	align-content: center;
	.logoValpa svg {
		height: 500px;
	}
	.comming {
		color: white;
		text-align: center;
	}
}
